@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    overflow: hidden;
}
.icon-wrapper{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}
.icon{
    height: 25px;
    width: 25px;
    color: #333;
}
.form{
    max-width: 430px;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
}
.wrapper form{
    margin-top: 30px;
}
.wrapper form .input-box{
    height: 52px;
    margin: 18px 0;
}
form .input-box input,
form .input-box textarea{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 500;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
    border-color: #414141;
}
form .policy{
    display: flex;
    align-items: center;
}
form h3{
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}
.input-box.button input{
    color: #fff;
    border: none;
    background: #414141;
    cursor: pointer;
}
.input-box.button input:hover{
    background: #2c2c2c;
}
form .text h3{
    color: #333;
    width: 100%;
    text-align: center;
    font-weight: 400;
}
form .text h3 a{
    color: #414141;
    text-decoration: none;
    font-weight: 600;
}
form .text h3 a:hover{
    text-decoration: underline;
}
form .input-box.note-text{
    height: 120px;
}
form .note-text textarea{
    resize: none;
    padding: 10px 15px;
}