@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

*{
    font-family: 'Monserrat' sans-serif;
    scroll-behavior: smooth;
}
button{
    cursor: pointer;
}
header{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #414141;
    /* border-image: linear-gradient(90deg rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.75) 25%, rgba(0,0,0,1) 50%, rgba(0,0,0,0.75) 75%, rgba(0,0,0,0.1) 100%); */
    color: #222;
}
header .logo{
    display: flex;
    align-items: center;
    font-size: 48px;
}
header .about{
    border: none;
    background-color: #D9D9D9;
    padding: 7px 50px;
    border-radius: 15px;
    font-size: 24px;
    font-weight: 500;
    transition: all 0.3s ease;
}
header .about:hover{
    background-color: #A9A9A9;
}
.globe-img{
    width: 400px;
    height: 400px;
    transform: translateX(-30px);
}
div .home-info{
    margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
    gap: 40px;
}
.info-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}
.info-text button{
    outline: none;
    background-color: #222;
    color: #FFF;
    font-size: 20px;
    margin: 0 5px;
    padding: 10px 10px;
    font-weight: 500;
    border-radius: 17px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.info-text button:hover{
    background: #101010;
}
.info-text .name{
    font-size: 60px;
}
.vl {
    border-left: 2px solid #414141;
    height: 500px;
}
/* .wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    overflow: hidden;
} */
.info-wrapper{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}